<div>
  <div>
    <% Tag.all.each do |tag| %>
      <a class="badge bg-secondary" data-controller="index" data-action="click->index#search" data-value="<%= tag.tag %>"><%= tag.tag %></a>
    <% end %>
  </div>

  <br />

  <%= form_tag(check_items_search_path, method: :get, class: "d-flex") do %>
    <%= text_field_tag(:search, params[:search], class: "form-control me-2", id: "search_field") %>
    <%= submit_tag('Search', class: "btn btn-outline-success") %>
  <% end %>


  <% unless @result.empty? %>
    <br/>
    <%= form_tag(check_items_select_to_test_path, method: :post) do %>
      <table class="table">
        <thead>
        <tr>
          <th class="col-8" scope="col">Task</th>
          <th class="col-2" scope="col">Tags</th>
          <th class="col-1" scope="col">Tested</th>
          <th class="col-1" scope="col">To test?</th>
        </tr>
        </thead>
        <tbody>

        <% @result.each_with_index do |item, index| %>
          <tr>
            <td>
              <a data-bs-toggle="collapse" href="#collapseExample_<%= index %>" aria-expanded="false" aria-controls="collapseExample">
                <%= item['item_to_check'].case_name %>
              </a>
              <div class="collapse" id="collapseExample_<%= index %>">
                <br />
                <div>
                  <% item['item_to_check'].test_case.split("\n").each do |step| %>
                    <p class="card-text"><%= step %></p>
                  <% end %>
                </div>
              </div>
            </td>
            <td>
              <% item['tags'].each do |tag| %>
                <span><%= tag.tag %></span>
              <% end %>
            </td>
            <td>
              <% if !item['item_to_check'].to_test %>
                <span class="circle-green" aria-hidden="true"></span>
              <% else %>
                <span class="circle-red" aria-hidden="true"></span>
              <% end %>
            </td>
            <td><%= check_box_tag("to_test #{item['item_to_check'].id}".to_sym, item['item_to_check'].id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= submit_tag("Select to test", class: "btn btn-light") %>
    <% end %>
  <% end %>
</div>