<div>
  <%= form_with model: @check_item do |form| %>
    <div>
      <%= form.label :case_name %><br>
      <%= form.text_field :case_name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :test_case %><br>
      <%= form.text_area :test_case, class: "form-control" %>
    </div>

    <div>
      <%= form.label :tags %><br>
      <%= form.text_field :tags, class: "form-control", value: '' %>
    </div>
    <br/>

    <div>
      <%= form.submit class: "btn btn-light" %>
    </div>
  <% end %>
</div>