<div>
  <div>
    <% TestCaseTag.all.each do |tag| %>
      <a class="badge bg-secondary" data-controller="index" data-action="click->index#search" data-value="<%= tag.tag %>"><%= tag.tag %></a>
    <% end %>
  </div>

  <br />

  <%= form_tag(test_cases_search_path, method: :get, class: "d-flex") do %>
    <%= text_field_tag(:search, params[:search], class: "form-control me-2", id: "search_field") %>
    <%= submit_tag('Search', class: "btn btn-outline-success") %>
  <% end %>


  <% unless @result.empty? %>
    <br/>
    <%= form_tag(test_cases_select_to_test_path, method: :post) do %>
      <table class="table">
        <thead>
        <tr>
          <th class="col-8" scope="col">Task (clickable)</th>
          <th class="col-2" scope="col">Tags</th>
          <th class="col-1" scope="col">Tested</th>
          <th class="col-1" scope="col">To test?</th>
        </tr>
        </thead>
        <tbody>

        <% @result.each_with_index do |item, index| %>
          <tr>
            <td>
              <p data-bs-toggle="collapse" href="#collapseExample_<%= index %>" aria-expanded="false" aria-controls="collapseExample">
                <%= item.name %>
              </p>
              <div class="collapse" id="collapseExample_<%= index %>">
                <div>
                  <ul class="list-unstyled">
                    <% item.steps.split("\n").each do |step| %>
                      <li><small class="text-muted"><%= step %></small></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </td>
            <td>
              <% item.test_case_tags.each do |tag| %>
                <small class="text-muted"><%= tag.tag %></small>
              <% end %>
            </td>
            <td>
              <% if !item.to_test %>
                <span class="circle-green" aria-hidden="true"></span>
              <% else %>
                <span class="circle-red" aria-hidden="true"></span>
              <% end %>
            </td>
            <td><%= check_box_tag("to_test #{item.id}".to_sym, item.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= submit_tag("Select to test", class: "btn btn-light") %>
    <% end %>
  <% end %>
</div>