<div>
  <%= form_with model: @test_case do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :steps %><br>
      <%= form.text_area :steps, class: "form-control", rows: "7" %>
    </div>

    <div>
      <%= form.label :tags %><br>
      <%= form.text_field :tags, class: "form-control", value: '' %>
    </div>
    <br/>

    <div>
      <%= form.submit class: "btn btn-light" %>
    </div>
  <% end %>
</div>