<div>
  <% unless @selected.empty? %>
    <%= form_tag(tested_test_cases_path, method: :post) do %>
      <table class="table">
        <thead>
        <tr>
          <th class="col-9" scope="col">Task</th>
          <th class="col-2" scope="col">Tags</th>
          <th class="col-1" scope="col">Tested</th>
        </tr>
        </thead>
        <tbody>
        <% @selected.each_with_index do |item, index| %>
          <tr>
            <td>
              <p data-bs-toggle="collapse" href="#collapseExample_<%= index %>" aria-expanded="false" aria-controls="collapseExample">
                <%= item.name %>
              </p>
              <div class="collapse" id="collapseExample_<%= index %>">
                <br />
                <div>
                  <ul class="list-unstyled">
                    <% item.steps.split("\n").each do |step| %>
                      <li><small class="text-muted"><%= step %></small></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </td>
            <td>
              <small class="text-muted"><%= item.test_case_tags.map(&:tag).join(', ') %></small>
            </td>
            <td><%= check_box_tag("to_test #{item.id}".to_sym, item.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= submit_tag("Tested", class: "btn btn-light") %>
    <% end %>
  <% end %>
</div>